:root {
  --mag-colors-green-500: #25b570;
  --mag-colors-neutral-500: #8b939e;
}

body {
  width: 100%;
  height: 100%;
}
.base {
  position: relative;
  padding: 0;
  margin: 0;
  transition: all 0.25s ease-out;
  margin: auto;
  width: fit-content;
}
.input {
  border: 0;
  clip: rect(0px, 0px, 0px, 0px);
  height: var(--mag-sizes-1);
  width: var(--mag-sizes-1);
  padding: var(--mag-spacing-0);
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
}
.label {
  display: flex;
  cursor: pointer;
  transition: inherit;
  gap: 8px;
}

.input + label span:first-child {
  justify-content: flex-start;
  background: var(--mag-colors-neutral-500);
}

.input + label span:first-child span.track {
  color: var(--mag-colors-neutral-500);
}

/* .input + label span:first-child #check-mark-icon {
  opacity: 0;
}

.input + label span:first-child #close-remove-icon {
  opacity: 1;
} */

.input:checked + label span:first-child {
  justify-content: flex-start;
  background: var(--mag-colors-green-500);
}

.input:checked + label span:first-child span.track {
  color: var(--mag-colors-green-500);
  left: 22px;
}

.input:checked + label span:first-child span.track-flip {
  /* transform: rotateY(180deg); */
  transform: rotate3d(1, -1, 0, 180deg);
}

/* .input:checked + label span:first-child #check-mark-icon {
  opacity: 1;
}

.input:checked + label span:first-child #close-remove-icon {
  opacity: 0;
} */

.thumb {
  width: 44px;
  height: 24px;
  display: flex;
  align-items: center;
  border-radius: 99999px;
  transition: inherit;
  overflow: hidden;
  justify-content: flex-end;
  position: relative;
}
.track {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  border-radius: 99999px;
  transition: inherit;
  overflow: hidden;
  background: white !important;
  position: absolute;
  text-align: center;
  top: 2px;
  left: 2px;
}
.track-flip {
  height: 14px;
  width: 14px;
  position: relative;
  margin: auto;
  background: white !important;
  transform-style: preserve-3d;
  transition: inherit;
}
.track-flip #check-mark-icon {
  /* transform: rotateY(180deg); */
  transform: rotate3d(1, -1, 0, -180deg);
}
.track svg {
  transition: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  background-color: white;
  backface-visibility: hidden;
  position: absolute;
}
